{% extends "base.html" %}
{% block content %}
<h1 class="hexamples">Здесь Вы можете ознакомиться с примерами работ</h1>
<img class="example1" src="{{ url_for('static', filename='img/example1.png') }}" alt="example1">
<img class="example2" src="{{ url_for('static', filename='img/example2.png') }}" alt="example2">
<img class="example3" src="{{ url_for('static', filename='img/example3.png') }}" alt="example3">
<img class="example4" src="{{ url_for('static', filename='img/example4.png') }}" alt="example4">
<img class="example5" src="{{ url_for('static', filename='img/example5.png') }}" alt="example5">
<img class="example6" src="{{ url_for('static', filename='img/example6.png') }}" alt="example6">
<img class="example7" src="{{ url_for('static', filename='img/example7.png') }}" alt="example7">
<img class="example8" src="{{ url_for('static', filename='img/example8.png') }}" alt="example8">
<img class="example9" src="{{ url_for('static', filename='img/example9.png') }}" alt="example9">


{% endblock %}