{% extends "base.html" %}

{% block content %}
    <img class="edosik" src="{{ url_for('static', filename='img/1.jpg') }}" alt="картиночка">
    <h1 class="full_name">Процкий<br> Эдуард <br> Алексеевич</h1>
    <div class="container-fluid" >
        <p class="text-description">Добро пожаловать! Меня зовут Эдуард Процкий, и я стартовал в мир веб-разработки с огромным вдохновением и жаждой творчества. 
            Моя страсть к созданию веб-сайтов не знает границ - я увлечен возможностями, которые предоставляют современные технологии для воплощения идей в интернете.

            <br><br>Здесь вы найдете мои проекты, созданные с любовью и вниманием к деталям. Я верю, что красивый дизайн в сочетании с функциональностью - ключевые составляющие успешного веб-сайта. Именно этому я уделяю особое внимание в своей работе.
            
            <br><br>Мир веб-разработки постоянно меняется, и я с нетерпением изучаю новые технологии и методы, чтобы оставаться в курсе последних трендов. Здесь мы можем вместе исследовать те инструменты и решения, которые делают интернет таким захватывающим местом.
            
           <br><br> Присоединяйтесь ко мне в этом увлекательном путешествии по созданию современных и инновационных веб-решений. Давайте вместе воплощать идеи в реальность и вдохновляться возможностями, которые открывает перед нами мир веб-технологий.</p>
    </div>
{% endblock %}